* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.spectral-extralight {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: "Spectral", serif;
  font-weight: 200;
  font-style: italic;
}

.spectral-light-italic {
  font-family: "Spectral", serif;
  font-weight: 300;
  font-style: italic;
}

.spectral-regular-italic {
  font-family: "Spectral", serif;
  font-weight: 400;
  font-style: italic;
}

.spectral-medium-italic {
  font-family: "Spectral", serif;
  font-weight: 500;
  font-style: italic;
}

.spectral-semibold-italic {
  font-family: "Spectral", serif;
  font-weight: 600;
  font-style: italic;
}

.spectral-bold-italic {
  font-family: "Spectral", serif;
  font-weight: 700;
  font-style: italic;
}

.spectral-extrabold-italic {
  font-family: "Spectral", serif;
  font-weight: 800;
  font-style: italic;
}

body {
  color: #333;
  line-height: 1.6;
}

.header {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 10rem;
  background-color: #ffc017;
  border-bottom: rgb(100, 100, 100) 1px solid;
}

.header div {
  height: 33.333%;
}

.header-nav a {
  margin: 0 1em;
  color: rgb(100, 100, 100);
  text-decoration: none;
}

.btn-primary {
  padding: 0.5em 1em;
  background-color: #000;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.hero {
  text-align: left;
  padding-block: 3rem;
  padding-left: 10rem;
  background-color: #ffc017;
  color: #000;
  border-bottom: rgb(100, 100, 100) 1px solid;
}

.hero h1 {
  height: 140px;
  font-weight: 300;
  letter-spacing: -5px;
  font-family: "Spectral", sans-serif;
  font-size: 6rem;
  margin-bottom: 0.2rem;
}

.hero p {
  padding-right: 5%;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  width: 30%;
  line-height: 20px;
}

.btn-secondary {
  padding: 0.5em 3em;
  background-color: #000;
  color: whitesmoke;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.container {
  border-bottom: rgb(190, 190, 190) 1px solid;
}
.trending {
  font-family: "Roboto", sans-serif;
  width: 100%;
  padding-inline: 10rem;
  padding-block: 2rem;
}
.minititle {
  vertical-align: top;
}
.minititle img {
  padding-top: 10px;
  height: 35px;
}

h3 {
  font-weight: bold;
  letter-spacing: 1px;
  display: inline-block;
  font-size: 12px;

  text-align: left;
}
.containerbox .cooper {
  height: 30px;
  border-radius: 100%;
}
.notcooper {
  height: 30px;
  border-radius: 20%;
}
.when {
  width: 50%;
  flex-wrap: wrap;
  display: inline-block;
}
.writer {
  margin-left: 10px;
}
.trending-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.trending-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.trending-item-container {
  display: flex;
  align-items: top;
  flex: 1;
}

.numbers {
  font-size: 24px;
  font-weight: bold;
  color: #bbb;
  margin-right: 10px;
}

.trending-item {
  font-weight: bold;
  vertical-align: middle;
  font-size: 16px;
}

.container2 {
  justify-content: space-between;
  padding-top: 3rem;
  flex-direction: row;
  padding-inline: 10rem;
  font-family: "Roboto", sans-serif;
  display: flex;

  gap: 20px;
}
.container3 {
  flex-direction: column;
  width: 60%;
}

.article {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background-color: #fff;
  padding: 15px;
}

.article img {
  width: 230px;
  height: 150px;
  object-fit: cover;
}

.article-content {
  flex: 1;
}

.article-content h4 {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}

.article-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000;
}

.article-content p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #555;
}

.meta {
  font-size: 12px;
  color: #999;
}
.container4 {
  max-width: 40%;
  padding-left: 4rem;
}
h4 {
  font-weight: bold;
  font-size: 12px;
  margin-bottom: 0.5rem;
}
.container4 .btn-third {
  color: #898989;
  letter-spacing: 1px;
  margin: 2px;
  padding: 0.5rem;
  background-color: white;
  border: 1px rgb(229, 229, 229) solid;
  border-radius: 5px;
}
.line {
  margin-block: 1.3rem;
  border-bottom: 1px rgb(231, 231, 231) solid;
}

.links {
  font-size: small;
  color: #a5a5a5;
  text-decoration: none;
  padding-right: 1.5rem;
}
